* {
    margin: 0;
    padding: 0;
}

.button {
    width: 100px;
    height: 80px;
    line-height: 80px;
    border: 2px dashed orangered;
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    padding: 0 35px;
}

.showElements {
    top: 10vh;
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: flex-start;
}

.square {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #000;
    color: white;
    line-height: 80px;
    text-align: center;
    margin-left: 5px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid black;
    line-height: 80px;
    text-align: center;

}