body {
    background: #fff;
    margin: 0;
}
.nav {
    list-style:none;
    padding:0;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.nav-el {
    background: rgba(231,29,54,1);
    box-shadow:0 5px 5px -3px rgba(231,29,54,0.3);
    margin-right:1px;
    flex-grow:1;
    transition: 0.5s background-color;
    display: flex;
    position: relative;
}
.nav-el:first-child {
    border-radius: 5px 0 0 5px;
}
.nav-el:last-child {
    border-radius: 0 5px 5px 0;
}
.nav-link {
    padding:2rem;
    display: block;
    display: flex;
    flex-grow:1;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color:#fff;
    font-weight: bold;
}
.nav-el-active {
    background: #7200da;
    box-shadow:0 5px 15px -3px rgba(114,0,218,0.5);
}
@media (max-width:1000px) {
    .nav {
        flex-wrap: wrap;
    }
    .nav-el {
        width:33.3333%;
        margin-bottom:1px;
    }
}
@media (max-width:400px) {
    .nav {
        flex-wrap: wrap;
    }
    .nav-el {
        width:100%;
        margin-bottom:1px;
    }
}