.napis {
    text-align: center;
    width: 100vw;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.cursor {
    opacity: 0;
    transition: .2s;
}

.cursor.active {
    opacity: 1;
}