html{
    font-size: 20px;
    font-family: sans-serif;
}
li{
    line-height: 160%;
    padding:20px 10px;
    cursor: pointer;
}
li:nth-child(even){
    background-color: #eee;
}
li:nth-child(odd){
    background-color: #ccc;
}
/* li:active{
    color:gray;
    font-weight: bold;
} */