* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(196, 233, 196);
    height: 60vh;
    width: 70vw;
}

form {
    margin: 30px;
}

h2 {
    margin: 30px;
}

.input {
    font-size: 24px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

button {
    padding: 5px 20px;
    background-color: cadetblue;
    color: #fff;
    border: none;
    font-size: 20px;
}

button:nth-child(4) {
    background-color: rgb(146, 72, 45);
}

button:nth-child(3) {
    background-color: rgb(124, 155, 77);
}

h1 {
    position: relative;
    bottom: 0;
    flex-basis: 20%;
}