body{
    background-color: lightgray;
    font-family: 'Thasadith', sans-serif;
}
#title{
    text-align: center;
    font-size: 45px;
   
   margin-bottom: 45px;
}

input{
    padding:10px;
    width:30vw;
    font-size: 25px;
    line-height: 25px;
    border:none;
    margin-bottom: 35px;
}
.button{
    padding: 10px;
    font-size: 25px;
    border: none;
    color:#FFF;
    background-color: skyblue;
    cursor: pointer;
    
    
}
.container{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:15%;
}
li{
    margin-top: 20px;
    font-size: 18px;
    color: #347;
    text-shadow: 1px 2px 5px skyblue;
    list-style:initial;
    cursor: pointer;
    
}
.removeButton{
    
    
    width:70px;
    font-family: 'Thasadith', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 8px;
    position: absolute;
    right: 10px;
    border: none;
    cursor: pointer;
    background-color: darkslategray;
    color: #FFF;
    
}
.zrobioneButton{ 
    
    width:70px;
    font-family: 'Thasadith', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 8px;
    position: absolute;
    right: 90px;
    border: none;
    cursor: pointer;
    background-color: darkslategray;
    color: #FFF;
    }
.zrobioneButton:hover{
   
    color:white;
    animation: done;
    animation-duration: 1.6s;
    transition: all 0.9s;
}
.removeButton:hover{
    background-color: #ac3131;
    color:white;
    animation: usun;
    animation-duration: 1.6s;
    transition: all 0.9s;
}
.alert{
    background-color: rgba(247, 155, 155, 0.62);
    color: red;
    padding:20px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px;
}
.done{
    background-color: lightgreen;
    color:green;
    list-style-type: none;
    text-decoration-line: line-through;
    padding: 16px;
    
}

@keyframes usun{
    
    0%{
        transform:rotate(10deg);
        background-color: indianred;
    }
    50%{
        transform:rotate(-10deg);
    }
    
    100%{
        transform:rotate(10deg);
        background-color: #ac3131;
    }
}
@keyframes done{
    
    0%{
        transform:rotate(10deg);
        background-color: lightgreen;
    }
    50%{
        transform:rotate(-10deg);
    }
    
    100%{
        transform:rotate(10deg);
        background-color: #45e245;
    }
}