* {
    margin: 0;
    padding: 0;
}

.slider img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

h1.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 58px;
    color: white;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
}

div.controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100vw;

    justify-content: center;
    align-content: center;
}

span.controls {
    /* width: 10px;
    height: 10px; */
    border: 7px solid black;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;


}

span.active {
    box-shadow: 0 0 0 4px red;
    border: 7px solid gainsboro;
}