*{
    margin: 0;
    padding: 0;
    
}
.bg{
    background-color: lightgrey;
    height: 100vw;
}
.button{
   width:50px;
    height:50px;
    font-size: 25px;
    margin:4px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color:#FFF;
    background-color: gray;
    
}
.button:hover{
    color:gray;
    background-color: white;
}
.textview{
    width:180px;
    margin: 5px;
    font-size:25px;
    padding:25px;
    border:none;
    background-color: white;
    
}
.main{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(to right, yellow, green);
    padding: 40px
}