.calculator{
    background-color: rgba(123, 220, 124, .7);
    padding:20px;
    border-radius: 15px;
    color:white;
    text-shadow: 0px 1px 4px black;
    letter-spacing: 1px;
    font-size:20px;
    width:400px;
    position:fixed;
    left:50%;
    top:20px;
    transform:translateX(-50%)

}
.calculator input{
    padding:2px 4px;
    font-size: 20px;
}
select{
    background-color: #fff;
    border: 1px solid white;
    font-size: 15px;
    margin-bottom:20px;
    margin-left:10px;
    text-transform: uppercase;
}
h1{
    text-align: center;
    
}