body {
  text-align: center;
  overflow: hidden;
}

.title {
  font-family: arial;
  padding: 30px;
  font-size: 50px;
}

/* input[type="text"], button {
padding: 10px 30px;
border: black 2px solid;
font-size: 30px;
outline: none;
}
class App extends React.Component {
  state = {
    value: ""
  }

  handleInputChange = (e) => {
    console.log(e.target.value);
    this.setState({
      value: e.target.value
    })
  }

  handleResetClick = () => {
    this.setState({
      value: ""
    })
  }

  render() {
    return (
      <React.Fragment>
        <input value={this.state.value} placeholder="wpisz..." onChange={this.handleInputChange} type="text" />
        <button onClick={this.handleResetClick}>Reset</button>
        <h1 className="title">{this.state.value.toUpperCase()}</h1>
      </React.Fragment>
    )
  }
} */