body {
    background: #F9FAFC;
    max-width:1100px;
    margin:  auto;
}

.btn {
    background: tomato;
    height:3rem;
    box-sizing: border-box;
    border:0;
    position: relative;
    cursor: pointer;
    transition: 0.2s all;
    color:#fff;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover {
    background: #7200da;
}

.user-list {
    list-style:none;
    margin:0;
    padding:0;
}
.user {
    margin-bottom: 1rem;
    background: #fff;
    padding:2rem;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.user-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.user-phone {}
.user-delete {
    width:3rem;
    height:3rem;
    text-indent:-9999px;
    overflow: hidden;
    font-weight: normal;
}
.user-delete:before {
    text-indent: 0;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: flex;
    content: '\f1f8';
    font-family: 'FontAwesome';
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    color:#fff;
}

.form {
    background: #fff;
    padding:2rem;
    display: flex;
    margin: 2rem auto 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.form label {
    display: block;
    height:1rem;
    margin:0;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-bottom:0.3rem;
    color:#aaa;
}
.form-row {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.form input[type="text"] {
    padding:0 10px;
    height:3rem;
    border:1px solid #bbb;
    box-sizing: border-box;
    margin-right:10px;
}
.form input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #7200DA;
    border-color:  #7200DA;
}
.form .btn {
    margin-top:1rem;
}
.form .btn:hover {
    background: #7200da;
}