*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root{
--navWidth:100vw;
}

nav{
    width:var(--navWidth);
    height:100vh;
    background-color: #c02942;
    position:fixed;
    top:0;
    right:-100%;
    z-index: 10;
    transition:.4s linear;
}
nav.active{
    right:0;
}
nav ul{
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: space-around;
    
}
nav ul li{
flex-basis: 10vh;
line-height: 10vh;
text-align: center;
border-bottom:rgb(209, 209, 209) 1px solid;
color:white;
text-transform: uppercase;
letter-spacing: 1px;
font-family:Arial, Helvetica, sans-serif;
transition: .4s linear;
list-style-type: none;
position: relative;
overflow: hidden;
}
nav ul li:hover{
cursor:pointer;
background-color: rgb(253, 253, 253);
color:black;
/* border-left: #c02942 15px solid; */

    }
nav ul li a{
    position: relative;
    text-decoration: none; 
    color:white;
    transition: .4s;
}
nav ul li::before{
    transition: .4s linear;
    content:"";
    background-color:#c02942;
    width: 20px;
    height: 100%;
    position: absolute;
    top:1px;
    left:-20px;
}
nav ul li:hover::before{
    left:0px;
}
nav ul li:hover a{
    color:black;
    
    
}

section{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-image: url(src/Przechwytywanie.JPG);

}
section.active{
    width:70vw;
}
#button{
    width:30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height:25px;
    top:20px;
    right:10px;
    justify-content: space-between;
    transition:.4s linear;
    z-index: 100;
    cursor: pointer;
}
#button.active{
    
        right:calc(var(--navWidth) - 40px);
    
}

#button span{
    transition:.4s;
    width:30px;
    height:5px;
    border-radius: 10px;
    background-color: white;
    /* position: absolute; */

}

#button span:nth-child(1).active{
    transform: rotate(45deg);
    background-color: rgb(212, 212, 212);
    
}
#button span:nth-child(2).active{
    display: none;
}
#button span:nth-child(3).active{
    transform: translateY(-20px) rotate(-45deg);
    background-color: rgb(212, 212, 212);
    
    
}
@media (min-width:700px){
    :root{
        --navWidth:50vw;
    }
    #button.active{
    
        right:var(--navWidth);
    
}
}
@media (min-width:1164px){
    :root{
        --navWidth:30vw;
    }
   
}
