body {
    height: 100vh;
    margin: 0;
}
.menu {
    height:  100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.menu li {
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    flex-grow: 1;
    flex-basis:  10%;
    background-size:  cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.5s all;
}
.menu a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li span {
    transition: 0.5s all;
    white-space: nowrap;
    color: rgba(255,255,255,0.5);
}
.menu li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 1;
    transition: 0.5s opacity;
}
.menu li:before {
    content: '';
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0%;
    top: -10%;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.8), inset 0 0 25px rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.5s opacity;
}


.menu li.active {
    flex-grow: 1.6;
    filter:  grayscale(0);
}
.menu li.active:after {
    opacity: 0;
}
.menu li.active:before {
    opacity: 1;
}
.menu li.active span {
    color:  #fff;
    text-shadow: 0 0 1px black;
}


.menu li.collapsed {
    width: 0%;
    flex-grow: 0;
    flex-basis: 0;
}
.menu li.expand {
    width: 100%;
    filter:  grayscale(0);
}
.menu li.expand:after {
    opacity: 0;
}
.menu li.expand:before {
    opacity: 1;
}
.menu li.expand span {
    opacity: 0;
    color:  #fff;
    text-shadow: 0 0 1px black;
}


.menu li:nth-of-type(1) {
    /* https://images.pexels.com/photos/371633/pexels-photo-371633.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); */
    background-image: url(../images/bellingrath-gardens-alabama-landscape-scenic-158063.jpeg);
}
.menu li:nth-of-type(2) {
    /* https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); */
    background-image: url(../images/landscape-meadow-field-mountains-66874.jpeg);
}
.menu li:nth-of-type(3) {
    /* https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); */
    background-image: url(../images/pexels-photo-210186.jpeg);
}
.menu li:nth-of-type(4) {
    /* https://images.pexels.com/photos/158063/bellingrath-gardens-alabama-landscape-scenic-158063.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); */
    background-image: url(../images/pexels-photo-247599.jpeg);
}
.menu li:nth-of-type(5) {
    /* https://images.pexels.com/photos/66874/landscape-meadow-field-mountains-66874.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); */
    background-image: url(../images/pexels-photo-371633.jpeg);
}


.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: #000;
    border: 0;
    z-index: 3;
    cursor: pointer;
}
.close:focus {
    outline: none;
}
.close:before,
.close:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.5s all;
}
.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.close:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.close:hover:before {
    transform: translate(-50%, -50%) rotate(90deg);
}
.close:hover:after {
    transform: translate(-50%, -50%) rotate(0deg);
}

@media (max-width:960px) {
    .menu {
        flex-direction: column;
    }
}
